{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h1>Consigna</h1>
<span>Extienda el sistema de gestión de turnos médicos para que los datos sean persistidos sobre
    una base de datos MySQL usando PDO. La generación del número de turno debe hacerse vía
    motor de base de datos.</span>
{% endblock %}
